
/* Estilo para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;
    text-align: center;
}

/* Estilo para os cabeçalhos */
h1, h2, h3, h4, h5 {
    color: #f0f0f0;
}

/* Estilo para o parágrafo */
p {
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    color: #f0f0f0;
}

/* Estilo para a lista ordenada */
ol {
    text-align: left;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #333333;
    border-radius: 10px;
}

li {
    margin: 10px 0;
}

/* Estilo para a div onde a imagem será inserida */
#image-container {
    margin-top: 30px;
}

/* Estilo para a imagem */
#image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}