<!--Commit Inicial-->

h1 {
  font-size: 36px;
  color: crimson;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

h2 {
  font-size: 28px;
  color: darkblue;
}

h3 {
  font-size: 24px;
  color: black;
}

h4 {
  font-size: 20px;
  color: darkred;
  font-style: italic;
}


p {
  font-size: 18px;
  color: black;
  text-align: justify;
  margin: 20px;
}


ol {
  list-style-type: decimal;
  margin-left: 40px;
}

li {
  font-size: 16px;
  color: purple;
  font-weight: bold;
  margin-bottom: 5px;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: brown;
  margin: 0;
  padding: 0;
}
